#facebook-widget {
  /* Position */
  position: fixed;
  top: 220px;
  right: -245px;
  /* Dimension */
  width: 245px;
  height: 389px;
  /* Transition */ 
  transition: right 0.8s;
  -o-transition: right 0.8s;
  -ms-transition: right 0.8s;
  -moz-transition: right 0.8s;
  -webkit-transition: right 0.8s;
  /* */
  -webkit-user-select: none;
}

body.desktop #facebook-widget:hover {
  right: 0px;
}

body.mobile #facebook-widget.hover {
  right: 0px;
}

#facebook-widget #facebook-widget-icon {
  /* Position */
  float: left;
  position: relative;
  z-index: 9;
  /* Dimension */
  height: 60px;
  /* Design */
  background-color: #3B5998;
  background-image: url("../images/facebook-button.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;        
}

body.desktop #facebook-widget #facebook-widget-icon {
  width: 34px;
  left: -34px;
}

body.mobile #facebook-widget #facebook-widget-icon {
  width: 54px;
  left: -54px;
}

#facebook-widget #facebook-widget-content {
  /* Position */
  float: right;
  position: relative;
  top: -60px;
  z-index: 99;
  /* Dimension */
  width: 237px; 
  height: 389px;
  /* Design */
  background-color: #FFFFFF;
  border: 4px solid #3B5998;
}

#facebook-widget #facebook-widget-content .fb_iframe_widget span {
  max-width: 285px !important;
  overflow: hidden
}